@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap'); 


body{
    background-color: cornsilk;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h1{
    margin: 0;
}